*{
    margin:0;
    padding:0;
}

.navigation{
    display: flex;
    background-color: #EFECA5;
    /*justify-content: flex-end;*/
}
.navigation img{
    width:40px;
    height:40px;
    top:0;
    left:2px;
    bottom:0;
}
#site-heading{
    display:none;
   padding-left:100px;
    font-size: 20px;
    height:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#navbar{
    position:sticky;
    width:100%;
    height: 100%;
}

a.active{
    background-color:#E1D161;
}
 .burger{
     position: absolute;
     right:4px;
     top:5px;
     display:none
 }
 .line{
     width:30px;
     background-color: black;
     height:3px;
     margin:4px;
 }
.navigation li{
    list-style: none;
    margin:10px;
}

.navigation li a{
    text-decoration:none;
    color:black;
    padding:10px;
    font-size:20px;
    cursor:pointer;
    font-weight: bold;
}

@media only screen and (min-width:1000px) {
.navigation {
    display:flex;
    background-color: #EFECA5;
}

.navigation img {
    top:2px;
    width: 90px;
    height: 90px;
    left:0;
    bottom:2px;
}

.navigation li {
    list-style: none;
    margin:0 30px;
}

.navigation li a {
    text-decoration: none;
    display: block;
    padding: 18px;
    
    font-size: 35px;
    font-weight: bold;
    cursor:pointer;
}
.home-para h1{
    margin: 20px;
    margin-top: 80vh;
    padding:20px;
    text-align:center;
}
.expert h2{
    padding: 20px;
    margin-top:80vh;
    text-align: center;
}
#contact_footer{
    margin-top:80vh;
}

}

#home-header::before {
    background: url(Img/homebg1.jpg) center center;
    background-size: cover;
    
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    z-index: -1;
    opacity: 0.55;
}

#about-header::before {
    background: url(Img/aboutbg.jpg) center center;
    background-size: cover;
    content: "";
    position: absolute;
    width: 100vw;
    height: 40vh;
    z-index: -1;
    opacity: 0.6;
}

/* #services-header::before {
    background: url(servicesbg.jpg) -35vw center;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    z-index: -1;
    opacity: 0.7;
} */

#contact-header::before {
    background: url(Img/contactbg.jpg) center center;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    z-index: -1;
    opacity: 0.7;
}

#home-heading h2{
    padding-top: 30px;
    text-align: center;
    font-size:28px;
    
}
#home-heading h5{
    margin-top:38vh;
    padding: 0 28vw;
    padding-right: 20vw;
    font-size: 18px;
    font-family: 'Recursive', sans-serif;
}

.home-para{
    margin:20px;
   
}
.home-para h1{
    text-align:center;
    padding:20px;
}

.home-para p{
    font-size: 19px;
    font-family: 'Recursive', sans-serif;
    /* text-align:center; */
   
}
.home-feedback{
    background-color:#F4F4F3FC;
    padding:20px;
}
.home-feedback h3{
    text-align:center;
    font-size: 22px;
}
.feedback-student{
    padding:15px 4px;
    font-family: 'Recursive', sans-serif;
}
#minal{
    margin-top: 2px;
}
#minal img{
    width: 20px;
    height:20px;
    border-radius:12px;
    margin-top:4px;
}
#minal span{
    font-size: 20px;
    padding:0 0px;
}
#om{
    margin-top: 2px;
}
#om img{
    width: 20px;
    height:20px;
    border-radius:12px;
    margin-top:4px;
}
#om span{
    font-size: 20px;
    padding:0 0px;
}

#snehal{
    margin-top: 2px;
}
#snehal img{
    width: 20px;
    height:20px;
    border-radius:12px;
    margin-top:4px;
}
#snehal span{
    font-size: 20px;
    padding:0 0px;
}

#about{
   display: flex;
   justify-content: center;
   align-items:center;
   text-align: center;
   padding-top: 15vh;
}
.expert{
    /* display:flex; */
    padding:10px;
    margin-top:15vh;
    background-color: #AEAFBB#EEEEEE;
}
.expert h2{
    padding:20px;
    text-align: center;
}
.expert-friends{
    display: flex;
    //padding:20px;
}
.expert h3{
    margin-top:80px;
}
.expert p{
    margin: 0 20px;
    font-family: 'Recursive', sans-serif;
    margin-bottom: 30px;

}
.expert-topic{
    margin:0 20px;
    margin-top:50px;
    font-size:22px;
    margin-bottom: 5px;
    font-family: 'Recursive', sans-serif;
    
}
#gauri{
    flex-direction: row-reverse;
}
#neha{
    flex-direction: row-reverse;
}
#ruksa{
    flex-direction: row-reverse;
}

.expert-friends img{
    width:43vw;
    height:250px;
    margin:0 10px;
}

#services h1{
    text-align: center;
    margin:10px 50px;
    margin-top: 20px;
}
#teaching-services{
    display:flex;
    flex-direction: column;
}
#teaching-services p{
    font-size: 19px;
    font-family: 'Recursive', sans-serif;
    margin-top:0px;
    margin-bottom:30px;
    padding:10px;
}
#teaching-services h5{
    font-size: 19px;
    padding:0 20px;
}

#teaching-services h3{
    margin-top:40px;
    font-size: 25px;
    padding:0 20px;
}
#contact-header h1{
    text-align: center;
    margin: 30px;
}
#teaching-services img{
    width:100vw;
    height:45vh;
    
}
.contact{
    width:60vw;
    display:block;
    margin:20px;
    margin-right:25vw;
}
.contact p{
    font-size: 18px;
    margin-bottom:4px;
}
.contact input{
    padding: 10px;
    font-size: 18px;
    margin-bottom:15px;
    outline: none;
    /* background:none;
    border:1px solid grey; */
    width:60vw;
}
textarea{
    padding:10px;
    margin:15px 0;
    margin-top: 4px;
    font-size: 18px;
    height:15vh;
    width:60vw;
    outline:none;
    /* background: none;
    border:1px solid grey; */
}

.btn-form{
    font-size: 20px;
    padding:10px;
    width:25vw;
    margin-bottom:45px;
    /* background: none;
    border:2px solid grey; */
    cursor:pointer;
}

footer{
    background-color:#4D4E47;
    padding:18px;
    font-size:18px;
    text-align:center;
    color:white;    
}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
